<!-- Note: canvas id="popTree" is needed here -->
<!-- simulator/templates/partials/population-tree.html -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script>
    $(document).ready(function(){
        // get the data on the InfectedNode instancesfrom the API, using AJAX
        let endpoint = '/api/{{experiment.id}}/chart/infected-node/';
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function(data){
                console.log(data);
                treeChart(data);
            },
            error: function(error_data){
                console.log('error');
                console.log(error_data);
            }
        });
    })

    // Make a Tree by using D3: https://observablehq.com/@d3/collapsible-tree
    let treeChart = data => {

        // tree params
        let width = 954;
        let radius = width / 2;

        // making the tree
        let tree = d3.tree()
            .size([2 * Math.PI, radius])
            .separation((a, b) => (a.parent == b.parent ? 1 : 2) / a.depth);
        // bring in the data for the chart
        //let treeData = data.json().sort((a, b) => d3.ascending(a.data.name, b.data.name));
        let treeData = d3.hierarchy(data);

        // function: making a box for the chart
        let autoBox = () => {
          document.body.appendChild(this);
          const {x, y, width, height} = this.getBBox();
          document.body.removeChild(this);
          return [x, y, width, height];
        }

        // making the chart
        let chart = () => {
          const root = tree(treeData);

          const svg = d3.create('svg');

          svg.append("g")
              .attr("fill", "none")
              .attr("stroke", "#555")
              .attr("stroke-opacity", 0.4)
              .attr("stroke-width", 1.5)
            .selectAll("path")
            .data(root.links())
            .join("path")
              .attr("d", d3.linkRadial()
                  .angle(d => d.x)
                  .radius(d => d.y));

          svg.append("g")
            .selectAll("circle")
            .data(root.descendants())
            .join("circle")
              .attr("transform", d => `
                rotate(${d.x * 180 / Math.PI - 90})
                translate(${d.y},0)
              `)
              .attr("fill", d => d.children ? "#555" : "#999")
              .attr("r", 2.5);

          svg.append("g")
              .attr("font-family", "sans-serif")
              .attr("font-size", 10)
              .attr("stroke-linejoin", "round")
              .attr("stroke-width", 3)
            .selectAll("text")
            .data(root.descendants())
            .join("text")
              .attr("transform", d => `
                rotate(${d.x * 180 / Math.PI - 90})
                translate(${d.y},0)
                rotate(${d.x >= Math.PI ? 180 : 0})
              `)
              .attr("dy", "0.31em")
              .attr("x", d => d.x < Math.PI === !d.children ? 6 : -6)
              .attr("text-anchor", d => d.x < Math.PI === !d.children ? "start" : "end")
              .text(d => d.data.name)
            .clone(true).lower()
              .attr("stroke", "white");

          return svg.attr("viewBox", autoBox).node();
        }
        //console.log('about to call chart');
        chart();

    };
</script>
